<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/home.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-default custom-head">
  			<div class="container-fluid">
		    	<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/" id="logo">Genre.me</a>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-	1">
      				<ul class="nav navbar-nav navbar-right" id="login-links"></ul>
    			</div>
  			</div>
		</nav>
	</header>
	<div id="top-image">
		<div id="page-wrapper" class="container-fluid collg-12 custom">
			<div id="topGenres"></div>
			<div id="loadMore">
				<button class="submit">Load more top genres</button>
			</div>
			<div id="playRandom">
				<button class="submit">Play a random genre</button>
			</div>
			<div id="player"></div>
		</div>
		<div id="bottomPage">
			<h1 id="toggleGreet">Learn about Genre.me</h1>
			<button id="pgScroll">
				<span id="toggleArrow" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
			</button>
		</div>
		<div id="about">
			<h2>Genre.me</h2>
			<p>"If you can talk you can sing<br>If you can sing you can dance."<br>- Zimbawean Proverb</p>
			<div id="about-text">
				<p class="about" id="test">Music is universal. It's present in every culture since the beginning of human kind. Yet all to often, we don't know what music the person sitting next to us listens to. Genre.me strives to connect people by the music they listen to, in particulary by musical genre. Here at Genre.me we have collected a list of nearly 1,000 popular music genres to select from. From the homepage users can quickly access the top genres that Genre.me users have selected. See a genre you've never heard of before? Click the genre to listen to a selected song in that genre from SoundCloud! Want to contribute and see other users? Click <a href="/signup">here</a> to signup! Already have an account? Click <a href="/login">here</a> to login.</p>
			</div>
		</div>
	</div>
<script type="text/template" id="homeTopGenres">
	<ul id="tops">
		<% _.each([tops[0], tops[1], tops[2]], function(item, index){ %>
		<li class="rank<%= index %>"><a href='#' class='genre'><%= item.name %></a><span> <%= item.likes %> people like this</span></li>
		<li data-id="<%= item.id %>" class='showUsers'>See who likes this</li>
		<% }); %>
	</ul>
</script>
</body>
</html>