<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/data.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
	<script type="text/javascript" src="http://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	<script type="text/javascript" src="/javascripts/profile.js"></script>
	<script type="text/javascript" src="javascripts/account.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-default">
  			<div class="container-fluid">
		    	<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/">Genre.me</a>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav navbar-right" id="login-links">
      				</ul>
    			</div>
  			</div>
		</nav>
	</header>
	<div id="page-wrapper" class="container-fluid collg-12">
		<h3 id="greet"></h3>
		<div id="user-data"></div>
		<h3>Genres you like</h3>

			<a href="#" id="newGenre">Add a new genre</a>
			<form id="toggleForm" action="/genres" method="POST" accept-charset="utf-8">
  				<div class="form-group">
    				<input type="text" class="form-control select" id="genreSelect" placeholder="enter a genre" name="genre[name]">
  					<button type="submit" id="addGenre" disabled >submit</button>
  				</div>
			</form>
		
		<div id="user-genres"></div>
		<div id="player"></div>
	</div>
</body>
	<script type="text/template" id="profile-template">
      		<ul>
      			<li><%= first_name %></li>
      			<li><%= last_name %></li>
      			<li><%= bio %></li>
      		</ul>
	</script>
	<script type="text/template" id="profile-genre-template">
		<ul>
			<% _.each(test, function(item){ %>
			<li><a href='#' class='genre'><%= item.name %></a></li>
			<button data-id="<%= item._id %>" onclick="removeGenre(this)" type="button" class="btn btn-default btn-xs" id="btn-rm">remove</button>
			<% }); %>
		</ul>
	</script>
</html>