<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Profile</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/data.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/themes/black-tie/jquery-ui.css">
	<script type="text/javascript" src="https://connect.soundcloud.com/sdk.js"></script>
	<script type="text/javascript" src="/javascripts/app.js"></script>
	<script type="text/javascript" src="/javascripts/publicprof.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<header id="header">
		<nav class="navbar navbar-default custom-head">
  			<div class="container-fluid">
		    	<div class="navbar-header">
      				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
      				</button>
      				<a class="navbar-brand" href="/">Genre.me</a>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      				<ul class="nav navbar-nav navbar-right" id="login-links"></ul>
    			</div>
  			</div>
		</nav>
	</header>
	<div id="top-page">
	<div id="page-wrapper" class="container-fluid col-sm-5 col-sm-offset-1">
		<h3 id="greet"></h3>
 		<div id="avatar">
			<img id="userAvatar" src="/images/person-placeholder.jpg">
		</div>
		<div id="user-data"></div>
	</div>
		<div class="col-sm-6" id="showGenres"></div>
		<div class="col-sm-2" id="user-genres"></div>
	</div>
	<div id="playerBtn"></div>		
	<div id="player"></div>
</body>
	<script type="text/template" id="profile-template">
      		<ul class="custom">
      			<li><strong>First name: </strong><%= first_name %></li>
      			<li><strong>Last name: </strong><%= last_name %></li>
      			<li><%= bio %></li>
      		</ul>
	</script>
	<script type="text/template" id="profile-genre-template">
		<ul class='custom'>
			<% _.each(test, function(item){ %>
			<li><a href='#' class='genre'><%= item.name %></a></li>
			<% }); %>
		</ul>
	</script>
</html>