body { 
  background: url('/images/triangle-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 4.5em;
	color: white;
}
h2 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 0.5em;
	color: white;
}
button.submit{
	background-color: transparent;
	color: white;
	margin: 0 auto;
	border: 0.25em solid white;
	padding: 0.5em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
	width: 40%;
	opacity: 0.5;
}
.submit:hover{
	background-color: cyan;
	opacity: 1;
	font-weight: bolder;
}
nav.custom-head{
	border-radius: 0;
	position: relative;
	background-color: black;
	/*background-image: url('/images/stardust.png');*/
	border: none;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 0;
}
#logo{
	font-family: 'Open Sans', sans-serif;
}
ul#tops{
	text-align: center;
	color: white;
	list-style-type: none;
	padding: 5px 0 5px 0;
	font-family: 'Open Sans', sans-serif;
	margin-top: 5em;
	margin-bottom: 2em;
	font-weight: bold;
}
li.rank0{
	font-size: 4.5em;
}
li.rank1{
	font-size: 2.75em;
}
li.rank2{
	font-size: 2em;
}
.showUsers:hover{
	color: cyan;
}
.showUsers{
	cursor: pointer;
}
#player{
  margin: 0 auto;
}
div#top-image{
	background-image: url('/images/darkside.jpg');
	height: 40em;
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
div#page-wrapper.custom{
	padding-right: 0;
	padding-left: 0; 
}
div#player{
	opacity: 0.8;
}
a {
	color: #BCED09;
}
#bottomPage{
  margin-top: 3.5em;
  position: fixed;
  width: 100%;
}
li{
	margin: 5px 0 5px 0;
}
#pgScroll{
	text-align: center;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 1.5em;
	width: 100%;
	outline: none;
}
div#about {
  margin-top: 32em;
  margin-bottom: 25em;
  color: white;
}
.name:hover{
	color: white ;
};
p#test.about {
	font-size: 1.5em;
}
p {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding: 0 10em 0 10em;
	font-size: 1em;
}
#closePlayer{
	border-radius: 50%;
	background-color: transparent;
	opacity: 0.6;
}
#xClose{
	color: white;
}
div#topGenres {
  background-color: black;
  opacity: 0.5;
  height: 100%;
}