body { 
  background: url('/images/triangle-bg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	text-align: center;
	font-family: 'Exo 2', sans-serif;
	font-size: 4.5em;
	color: white;
	bottom: 5px;
}
h2 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 1em;
	color: white;
}
button.submit{
	background-color: black;
	opacity: 0.25;
	color: white;
	margin: 0 auto;
	border: 0.25em solid white;
	padding: 0.5em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
}
.submit:hover{
	background-color: cyan;
	opacity: 1;
}
nav.custom-head{
	border-radius: 0;
	position: relative;
	background-image: url('/images/stardust.png');
	border: none;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 0;
}
#logo{
	font-family: 'Exo 2', sans-serif;
}
ul#tops{
	text-align: center;
	color: white;
	list-style-type: none;
	padding: 5px 0 5px 0;
	font-family: 'Roboto Slab', serif;
	margin-top: 5em;
	margin-bottom: 2em;
}
li.rank0{
	font-size: 3em;
}
li.rank1{
	font-size: 2em;
}
li.rank2{
	font-size: 1em;
}
.showUsers:hover{
	color: cyan;
}
.showUsers{
	cursor: pointer;
}
#player{
  position: static;
  margin: 0 auto;
}
div#top-image{
	background-image: url('/images/darkside.jpg');
	height: 40em;
	background-size: auto;
	background-position: center;
}
div#page-wrapper.custom{
	padding-right: 0;
	padding-left: 0; 
}
div#player{
	opacity: 0.8;
}
a {
	color: black;
}
#bottomPage{
	margin-top: 16em;
}
li{
	margin: 5px 0 5px 0;
}